<!DOCTYPE html>
<html>
<head>
    <title>Twitter Clone - Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Login ke Twitter Clone</h1>
    </header>
    <div class="content">
        <form method="post" class="form">
            <label>Username:</label>
            <input type="text" name="username" required><br>
            <label>Password:</label>
            <input type="password" name="password" required><br>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Belum punya akun? <a href="/signup">Daftar di sini</a>.</p>
    </div>
</body>
</html>
